@page "/"
@using MisCuentas.Web.Components.Pages
@inherits LayoutComponentBase

<div class="_pagina">
    <div class = "_box" />
    <div class = "_box" />
    <div class = "_box" />
    <div class="_box">
        <KPIs />
    </div>
</div>


@code
{

}
