@page "/"
@using MisCuentas.Domain.Interface
@using MisCuentas.Domain.Models
@using MisCuentas.Web.Components.Pages
@inherits LayoutComponentBase
@inject IBalanceService balanceService

<div>
    <div>
        <Cabecera />
    </div>
    <div>
        <Resumen />
    </div>
</div>

@code
{
    private Balance _balance = new();

    private string ingreso = "Ingresos Mensuales";
    private string gastos = "Gastos Mensuales";
    private string ganancia = "Ahorrado en (%)";
    private string ahorro = $"Ahorrado durante {nombreDeMes()}";

    static string nombreDeMes()
    {
        DateTime fecha = DateTime.Today;
        return fecha.ToString("MMMM").ToUpper();
    }
    
    protected override void OnInitialized()
    {
        _balance = balanceService.Balance(DateTime.Now.Month, DateTime.Now.Year);
    }
}
