@page "/"
@using MisCuentas.Web.Components.Pages
@inherits LayoutComponentBase

<div id = "grid-container">
    <div class = "espacio"/>
    <div class = "espacio">
        <Lateral />    
    </div> 
    <div class = "espacio" />
    <div class = "espacio">
        <Resumen />
    </div>
</div>

@code
{

}
