<h1>Benvenido !</h1>
<div>
    <h2>Dashboard de la cuenta: <strong>@_cuenta</strong></h2>
    <h2><strong>@_nombre</strong></h2>
</div>

@code {
    private string _cuenta = "ES73 2080 98 44122592854998";
    private string _nombre = "Holybrew Springbloom, Dravresron";
}