@page "/"
@rendermode InteractiveServer

<div id = "grid-container">
    <div class="espacio">
        <Cabecera />
    </div>
    <div class = "espacio">
        <Lateral />    
    </div> 
    <div class = "espacio" />
    <div class = "espacio">
        <Resumen />
    </div>
</div>

@code
{

}
