<div id="flex-container">
    <div class = "flex-box" />
    <div class="flex-box">
        <div class = "option">
            <img src = "img/informe.png"/>
            <h2>dashboard</h2>
        </div>
        <div class = "option">
            <img src = "img/cambio-de-dinero.png"/>
            <h2>transacciones</h2>
        </div>
        <div class="option">
            <img src = "img/balance.png"/>
            <h2>balance</h2>
        </div>
        <div class="option">
            <img src = "img/ganador.png"/>
            <h2>rentabilidad</h2>
        </div>
    </div>
</div>

@code {
    
}