#flex-container {
    font-family: 'Anybody', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 16px;
}

.flex-box:first-child {
    height: 64px;
}

.flex-box > .option {
    padding: 8px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.flex-box > .option:hover {
    background: cornflowerblue;
    cursor: pointer;
    
    h2 {
        color: white;
        font-weight: 700;
    }
}

.flex-box > .option > img {
    width: 60%;
    display: block;
    margin: auto;
}

.flex-box > .option > h2 {
    width: 100%;
    color: black;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
}