<div id="_opciones">
    <div class="_item" />
    <div class="_item">
        <img src="img/informe.png"/>
        <p>dashboard</p>
    </div>
    <div class="_item">
        <img src="img/cambio-de-dinero.png"/>
        <p>transacciones</p>
    </div>
    <div class="_item">
        <img src="img/balance.png"/>
        <p>ahorros del mes</p>
    </div>
    <div class="_item">
        <img src="img/ganador.png"/>
        <p>rentabilidad</p>
    </div>
</div>

@code {
    
}