#_opciones {
    font-family: 'Anybody', sans-serif;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-auto-flow: row;
    grid-gap: 16px;
    align-items: center;
    justify-items: center;
}

._item {
    width: 100%;
    height: 100%;
}

._item img {
    display: block;
    width: 80%;
    margin: auto;
    object-fit: scale-down;
}

._item > p {
    font-family: inherit;
    font-size: 1rem;
    margin: 8px 0;
    font-weight: 500;
    text-align: center;
}

._item > p:hover {
    color: steelblue;
    text-shadow: 8px 0 8px steelblue;
    font-weight: 700;
    cursor: pointer;
}