@using MisCuentas.Infrastructure.Tmp.Utils
<div class="_container">
    <div>
        <h1>@valor</h1>
        <h2>@campo</h2> 
    </div>
</div>

@code {
    [Parameter] public string campo { get; set; }
    [Parameter] public object valor { get; set; }
}