@implements IDisposable
@inject EstadoFecha _estadoFecha
@inject IBalanceRepository _balanceRepository
@using System.Globalization
@using MisCuentas.Domain.Interface
@using MisCuentas.Domain.Models

@if (_balance == null || string.IsNullOrEmpty(_mesTexto))
{
    <p>Cargando Resumen mensual...</p>
}
else
{
    <div id = "flex-container">
        <div class="flex-box">
            <h1>@_balance.ingresos.ToString("C")</h1>
            <h2>Ingresos (@_mesTexto)</h2>
        </div>
        <div class="flex-box">
            <h1>@_balance.gastos.ToString("C")</h1>
            <h2>Gastos (@_mesTexto)</h2>
        </div>
        <div class="flex-box">
            <h1>@_balance.ahorro.ToString("C")</h1>
            <h2>Margen (@_mesTexto)</h2>
        </div>
        <div class="flex-box">
            <h1>@_balance.ganancia.ToString() %</h1>
            <h2>Margen (%) (@_mesTexto)</h2>
        </div>
    </div>
}

@code {

    int mes, ano;
    private string? _mesTexto;
    private Balance? _balance;

    protected override async Task OnInitializedAsync()
    {
        _estadoFecha.AlCambiarEstado += RecargarDatos;
        await RecargarDatosAsync();
    }

    private void RecargarDatos()
    {
        _ = RecargarDatosAsync();
    }

    private async Task RecargarDatosAsync()
    {
        mes = _estadoFecha.Mes;
        ano = _estadoFecha.Anio;
        _mesTexto = CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(mes).ToUpper();

        _balance = await _balanceRepository.BalanceAsync(mes, ano);

        await InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        _estadoFecha.AlCambiarEstado -= RecargarDatos;
    }

}
