._container {
    height: 250px;
    background-color: aliceblue;
    border: 1px solid darkgray;
    border-radius: 0 128px 0 0;
    display: flex;
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
}

._container > div {
    display: inline-table;
    justify-content: center;
    align-items: center;
}

._container > div > h1 {
    color: steelblue;
    font-family: "Anybody", sans-serif;
    font-weight: 400;
    font-size: 4rem;
    text-align: center;  
    margin: 4px auto 24px auto;
}

._container > div > h2 {
    color: darkslategray;
    font-family: "Anybody", sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;
    margin: 4px auto;
}