.flex-container[b-296fdb2uvb] {
    font-family: 'Anybody', sans-serif;
    height: 100%;
    display: flex;
    gap: 16px;
    justify-content: flex-end;
    align-items: flex-end;
}

.flex-box[b-296fdb2uvb] {
    width: 20%;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 16px;
    padding: 16px;
    justify-content: center;
}

.flex-box:nth-child(3)[b-296fdb2uvb], .flex-box:nth-child(4)[b-296fdb2uvb] {
    width: 10%;
}

.flex-box > label[b-296fdb2uvb] {
    font-family: inherit;
    padding: 8px;
}

.flex-box > .filtro[b-296fdb2uvb] {
    width: 100%;
    padding: 8px;
    background-color: white;
    border: 1px darkslateblue solid;
    border-radius: 0;
}

.flex-box > #filtrar[b-296fdb2uvb] {
    width: 100%;
    font-family: inherit;
    font-weight: 600;
    background-color: white;
    padding: 8px;
    display: block;
    grid-column: 1 / span 2;
    border: 1px darkslateblue solid;
}

.flex-box > #filtrar:hover[b-296fdb2uvb] {
    background-color: cornflowerblue;
    color: white;
    cursor: pointer;
}

.flex-box > p[b-296fdb2uvb] {;
    margin: 0;
    padding: 8px;
}