#grid-container[b-sfxv78bl1m]{
    width: calc(100vw - 16px);
    height: calc(100vh - 16px);
    margin: auto;
    display: grid;
    grid-template-columns: 128px 2fr 1fr 1fr;
    grid-template-rows: 64px 1fr;
    grid-template-areas:
    "lc tc tc tc"
    "lc da da re"
    "lc da da re";
    gap: 16px;
}

.espacio[b-sfxv78bl1m] {
    height: 100%;
}

.espacio:first-child[b-sfxv78bl1m] {
    grid-area: tc;
    box-shadow: 0 0 8px lightgrey;
}

.espacio:nth-child(2)[b-sfxv78bl1m] {
    grid-area: lc;
    background-color: white;
    box-shadow: 0 0 8px lightgrey;
}

.espacio:nth-child(3)[b-sfxv78bl1m] {
    height: auto;
    grid-area: da;
    box-shadow: 0 0 8px lightgrey;
}

.espacio:nth-child(4)[b-sfxv78bl1m] {
    grid-area: re;
}