#flex-container[b-wp331jh9m9] {
    height: 100%;
    font-family: 'Anybody', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 16px;
}

.flex-box:first-child[b-wp331jh9m9] {
    height: 128px;
}

.flex-box > .option[b-wp331jh9m9] {
    padding: 8px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.flex-box > .option:hover[b-wp331jh9m9] {
    background: white;
    cursor: pointer;
    
    h2 {
        color: black;
        font-weight: 700;
    }
}

.flex-box > .option > img[b-wp331jh9m9] {
    width: 60%;
    display: block;
    margin: auto;
}

.flex-box > .option > h2[b-wp331jh9m9] {
    width: 100%;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
}