div[b-6uc9xpijm6] {
    font-family: 'Anybody', sans-serif;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
}

._container[b-6uc9xpijm6] {
    height: 128px;
    display: flex;
    flex-direction: column;
    margin: 32px auto;
}

._container > h1[b-6uc9xpijm6], h2[b-6uc9xpijm6] {
    font-weight: 500;
    font-size: 3rem;
    margin: 0;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

._container:first-child > h1[b-6uc9xpijm6] {
    color: forestgreen;
} 

._container:nth-child(2) > h1[b-6uc9xpijm6] {
    color: orangered;
}

._container:nth-child(3) > h1[b-6uc9xpijm6], 
._container:nth-child(4) > h1[b-6uc9xpijm6] {
    color: dimgray;
}

._container > h2[b-6uc9xpijm6] {
    font-weight: 300;
    font-size: 1.5rem;
}