/* _content/MisCuentas.Web/Components/Pages/Cabecera.razor.rz.scp.css */
.flex-container[b-296fdb2uvb] {
    font-family: 'Anybody', sans-serif;
    height: 100%;
    display: flex;
    gap: 16px;
    justify-content: flex-end;
    align-items: flex-end;
}

.flex-box[b-296fdb2uvb] {
    width: 20%;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 16px;
    padding: 16px;
    justify-content: center;
}

.flex-box:nth-child(3)[b-296fdb2uvb], .flex-box:nth-child(4)[b-296fdb2uvb] {
    width: 10%;
}

.flex-box > label[b-296fdb2uvb] {
    font-family: inherit;
    padding: 8px;
}

.flex-box > .filtro[b-296fdb2uvb] {
    width: 100%;
    padding: 8px;
    background-color: white;
    border: 1px darkslateblue solid;
    border-radius: 0;
}

.flex-box > #filtrar[b-296fdb2uvb] {
    width: 100%;
    font-family: inherit;
    font-weight: 600;
    background-color: white;
    padding: 8px;
    display: block;
    grid-column: 1 / span 2;
    border: 1px darkslateblue solid;
}

.flex-box > #filtrar:hover[b-296fdb2uvb] {
    background-color: cornflowerblue;
    color: white;
    cursor: pointer;
}

.flex-box > p[b-296fdb2uvb] {;
    margin: 0;
    padding: 8px;
}
/* _content/MisCuentas.Web/Components/Pages/Indice.razor.rz.scp.css */
#grid-container[b-sfxv78bl1m]{
    width: calc(100vw - 16px);
    height: calc(100vh - 16px);
    margin: auto;
    display: grid;
    grid-template-columns: 128px 2fr 1fr 1fr;
    grid-template-rows: 64px 1fr;
    grid-template-areas:
    "lc tc tc tc"
    "lc da da re"
    "lc da da re";
    gap: 16px;
}

.espacio[b-sfxv78bl1m] {
    height: 100%;
}

.espacio:first-child[b-sfxv78bl1m] {
    grid-area: tc;
    box-shadow: 0 0 8px lightgrey;
}

.espacio:nth-child(2)[b-sfxv78bl1m] {
    grid-area: lc;
    background-color: white;
    box-shadow: 0 0 8px lightgrey;
}

.espacio:nth-child(3)[b-sfxv78bl1m] {
    height: auto;
    grid-area: da;
    box-shadow: 0 0 8px lightgrey;
}

.espacio:nth-child(4)[b-sfxv78bl1m] {
    grid-area: re;
}
/* _content/MisCuentas.Web/Components/Pages/Lateral.razor.rz.scp.css */
#flex-container[b-wp331jh9m9] {
    font-family: 'Anybody', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 16px;
}

.flex-box:first-child[b-wp331jh9m9] {
    height: 64px;
}

.flex-box > .option[b-wp331jh9m9] {
    padding: 8px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.flex-box > .option:hover[b-wp331jh9m9] {
    background: cornflowerblue;
    cursor: pointer;
    
    h2 {
        color: white;
        font-weight: 700;
    }
}

.flex-box > .option > img[b-wp331jh9m9] {
    width: 60%;
    display: block;
    margin: auto;
}

.flex-box > .option > h2[b-wp331jh9m9] {
    width: 100%;
    color: black;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
}
/* _content/MisCuentas.Web/Components/Pages/Resumen.razor.rz.scp.css */
#flex-container[b-6uc9xpijm6] {
    font-family: 'Anybody', sans-serif;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
}

.flex-box[b-6uc9xpijm6] {
    flex-grow: 1;
    box-shadow: 0 0 8px lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex-box > h1[b-6uc9xpijm6], h2[b-6uc9xpijm6] {
    text-align: center;
    font-size: 3.5rem;
    font-weight: 300;
    margin: 8px;
}

.flex-box > h2[b-6uc9xpijm6] {
    text-align: center;
    font-size: 1.5rem;
    margin: 0;
}

.flex-box:first-child > h1[b-6uc9xpijm6] {
    color: green;
}

.flex-box:nth-child(2) > h1[b-6uc9xpijm6] {
    color: red;
}

.flex-box:last-child > h1[b-6uc9xpijm6] {
    color: slateblue;
}
/* _content/MisCuentas.Web/Components/Pages/Transacciones.razor.rz.scp.css */
#flex-container[b-d976suoujk] {
    font-family: 'Anybody', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 32px;
    gap: 16px;
}

#tabla-transacciones[b-d976suoujk] {
    font-family: 'Anybody', sans-serif;
    font-size: 1.25rem;
    font-weight: 300;
    width: 100%;
    table-layout: fixed;
    border-spacing: 0;
    margin-top: 16px;
    gap: 8px;
}

#paginador[b-d976suoujk] {
    font-family: 'Anybody', sans-serif;
    font-size: 1.25rem;
    display: flex;
    flex-direction: row;
    margin-top: 16px;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

#flex-container > h1[b-d976suoujk] {
    font-weight: 300;
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 0;
}

#tabla-transacciones > thead > tr > th[b-d976suoujk] {
    font-weight: 400;
    text-align: left;
    padding: 16px 8px;
    background: whitesmoke;
    border-bottom: 1px solid lightgrey;
}

#tabla-transacciones > thead > tr > th:first-child[b-d976suoujk] {
    width: 64px;
    color: white;
    font-weight: 600;
    background: cornflowerblue;
}

#tabla-transacciones > thead > tr > th:nth-child(4)[b-d976suoujk] {
    width: 30%;
}

#tabla-transacciones > tbody > tr > td[b-d976suoujk] {
    padding: 16px 8px;
    border-bottom: 1px solid whitesmoke;
}

#tabla-transacciones > tbody > tr > .num[b-d976suoujk], .num-positivo[b-d976suoujk], .num-negativo[b-d976suoujk] {
    text-align: right;
    font-weight: 500;
}

#tabla-transacciones > tbody > tr > .num-positivo[b-d976suoujk] {
    color: green;
}

#tabla-transacciones > tbody > tr > .num-negativo[b-d976suoujk] {
    color: red;
}

#paginador > img[b-d976suoujk] {
    height: 40px;
    margin-left: 0;
}

#paginador > img:hover[b-d976suoujk] {
    cursor: pointer;
}

#paginador > #acciones-paginador[b-d976suoujk] {;
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

#paginador > #acciones-paginador > .btn-paginador[b-d976suoujk] {
    flex-grow: 1;
    font-family: inherit;
    font-weight: 600;
    background-color: white;
    padding: 16px 8px;
    display: block;
    border: 1px darkslateblue solid;
}

#paginador > #acciones-paginador > .btn-paginador:hover[b-d976suoujk] {
    background-color: cornflowerblue;
    color: white;
    cursor: pointer;
}
