#grid-container[b-rcgk2zprur]{
    width: calc(100vw - 16px);
    height: calc(100vh - 16px);
    margin: auto;
    display: grid;
    grid-template-columns: 128px repeat(3, 1fr);
    grid-template-rows: 128px 1fr;
    grid-template-areas:
    "lc tc tc tc"
    "lc da da re"
    "lc da da re";
    gap: 16px;
}

.espacio[b-rcgk2zprur] {
    height: 100%;
}

.espacio:first-child[b-rcgk2zprur] {
    grid-area: tc;
    box-shadow: 0 0 8px lightgrey;
}

.espacio:nth-child(2)[b-rcgk2zprur] {
    grid-area: lc;
    background-color: darkslateblue;
}

.espacio:nth-child(3)[b-rcgk2zprur] {
    grid-area: da;
    background-color: aliceblue;
}

.espacio:nth-child(4)[b-rcgk2zprur] {
    grid-area: re;
}